{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Home{% endblock %}</h1>


<div class="container">
  <div class="row">
    {% for col in columns %}
        <div class="col">
        {% for bron in col%}
            <div class="bron mb-2">
            <ul class="list-group">
                    <li class="list-group-item bg-primary"><h4>{{bron.titel}}</h4></li>
            {% set count = namespace(value=0) %}
            {% for r in rows %}
                {% if r.bron == bron.key %}
                    {% set count.value = count.value + 1 %}
                    <li class="list-group-item {% if count.value > 10 %}expandable{% endif %}">
                        <a href="{{r.link}}" class="click" data-handler="vacature_titel">{{r.titel}}</a> - <span>{{r.plaatsnaam}}</span>
                        <div class="d-none">
                            <a href="{{r.link}}" class="" target="_blank">{{bron.titel}} &raquo;</a>
                        </div>
                       {% if ((r.salaris_indicatie) and ( r.salaris_indicatie|length)) %}
                        <div class="d-none">
                            &bull; <strong>{{r.salaris_indicatie}}</strong>
                        </div>
                        {% endif %}
                        {% if r.omvang %}
                        <div class="d-none">
                            &bull; {{r.omvang}}
                        </div>
                        {% endif %} 
                        <div class="d-none">
                            &bull; {{r.titel_organisatie}}
                        </div>
                        <div class="d-none">{{r.beschrijving }}</div>
                    </li>
                    {% if count.value == 11 %}
                    <li class="list-group-item text-white text-center click list-expander" data-handler="expand_list">
                        <div class="d-grid">
                            <a class="btn btn-outline-info btn-sm">meer</a>
                        </div>
                    </li>
                    {% endif %}
                {% endif%}
            {% endfor%}
            </div>
        {% endfor %}
        </div>
    {% endfor%}
  </div>
</div>

{% endblock %}

